h1 {
    text-align: center;
    padding: 60px; 
}

h2 {
    text-align: center;
    padding: 40px;
}

.paragraphs {
    color: black;
}
/* 
.grids {
    display: flex;
    flex-wrap: wrap;
    display: grid;
    grid-template-columns: auto auto auto auto;
    justify-items: center;
    align-items: center;
    padding: 10px;
    gap: 10px; 
}  */

.container {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    width: 1000px;
    margin: 0 auto;
    align-items: stretch;
    margin-left: 315px;
     /* flex-wrap: wrap; */
    width:  1300px;
    height: 90px;
}

.container2 {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    width: 1000px;
    margin: 0 auto;
    margin-left: 290px;
    margin-top: 180px;
    text-align: center;
    /* margin-right: 303.5px; */
 
}

.container2 .box {
    align-self: center;
    margin-top: 50px;

}
/* 
.container2 .box2 {
    align-self: center;
} */

/* for the container look up flex wrap and playing with and height */


/* .grid {
    grid-column-start: 1;
    grid-column-end: 5;
    grid-row-start: 1;
    grid-row-end: 5;
    text-align: center;
} */

img {
    max-width: 35%;
    height: auto;

}


@media (min-width: 600px;) {

}


.footer {
    position: absolute;
    margin-bottom: 50px;
}