main{
    justify-content: center;
    text-align: center;
    width: 100%;
    }
    
    
    #img1{
    width: 80%;
    }
    
    
    #sec1{
    justify-content: center;
    text-align: center;
    width: 80%;
    height: auto;
    background-color: white;
    padding-bottom: 2px;
    border-radius: 5px;
    margin: 0;
    margin-left: auto;
    margin-right: auto;
    }
    
    
    #who{
    width: 75%;
    justify-content: center;
    text-align: center;
    border: 2px solid black;
    padding: 10px;
    border-radius: 5px;
    background-color: #0AA6CF;
    margin-left: auto;
    margin-right: auto;
    }
    
    
    h2{
    border-bottom: 2px solid black;
    justify-content: center;
    text-align: center;
    margin: 0;
    }
    
    
    input::placeholder{
    color: black;
    }
    
    
    #foci{
    display: flex;
    justify-content: center;
    margin: 0;
    background-color: white;
    text-align: center;
    border-radius: 5px;
    }
    
    
    .focus{
    width: 25%;
    height: auto;
    border: 2px solid black;
    border-radius: 5px;
    background-color: #0AA6CF;
    padding: 10px;
    }
    
    
    .fImg{
    width: 200px;
    height: 140px;
    }
    
    
    #sec2{
    justify-content: center;
    width: 80%;
    height: auto;
    background-color: white;
    margin: 0;
    text-align: center;
    border-radius: 5px;
    margin-left: auto;
    margin-right: auto;
    }
    
    
    #extra{
    display: flex;
    justify-content: center;
    text-align: center;
    border: 2px solid black;
    }
    
    
    #sec3{
    justify-content: center;
    text-align: center;
    width: 100%;
    height: auto;
    background-color: #427F32;
    border-radius: 5px;
    }
    