main{
    justify-content: center;
    text-align: center;
}

#sec1{
    justify-content: center;
    text-align: center;
    width: 100%;
    height: auto;
    background-color: #78efbf;
}

h2{
    border-bottom: 2px solid black;
    justify-content: center;
    text-align: center;
    margin: 0;
}

#form1{
    display: flex;
    justify-content: center;
    margin: 0;
}

.join{
    display: inline-block;
    width: 200px;
    color: black;
    background-color: #87e7f2 ;
    border: 2px solid black;
    font-size: 15px;
    padding: 10px;
    margin: 5px;
}

#joinBut{
    display: inline-block;
    width: 200px;
    color: black;
    background-color: #65fa72 ;
    border: 2px solid black;
    font-size: 15px;
    padding: 5px;
    margin: 5px;
    align-self: center;
}

input::placeholder{
    color: black;
}

#sec2{
    justify-content: center;
    width: 100%;
    height: auto;
    background-color: #78efbf;
    margin: 0;
    text-align: center;
}

#foci{
    display: flex;
    justify-content: center;
    margin: 0;
    background-color: #78efbf;
    text-align: center;
}

.focus{
    width: 20%;
    border: 2px solid black;
}

#sec3{
    justify-content: center;
    width: 100%;
    height: auto;
    background-color: #78efbf;
    margin: 0;
    text-align: center;
}

#extra{
    display: flex;
    justify-content: center;
    text-align: center;
    border: 2px solid black;
}