header{
    display: flex;
    position: absolute;
    top: 0;
    left: 0;
    background-color: #65fa72;
    width: 100%;
    height: 50px;
    align-items: center;
}

footer{
    display: flex;
    position: absolute;
    bottom: 0;
    left: 0;
    background-color: #87e7f2;
    width: 100%;
    height: 50px;
    justify-content: center;
}

body{
    background-color: white;
}

/* Color Palette:  
Light Green: #65fa72 
Light Blue: #87e7f2
Aqua: #78efbf
*/