body{
    padding: 0;
    margin: 0;
}

.content{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.carousel-container {
    display: flex;
    align-items: center;
    justify-content: center;
}

.carousel {
    display: flex;
    overflow: hidden;
    margin: 100px 0 50px 0;
}

.carousel img {
    width: 800px;
    height: 300px;
    object-fit: cover;
    display:none;
    border-radius: 20px;
    box-shadow: 0px 4px 6px 4px rgba(255, 255, 255, 0.7);
}

button {
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.carousel-button {
    position: relative;
    background: none;
    border: none;
    padding: 10px;
    margin: 25px;
    font-size: 30px;
    cursor: pointer;
    border-radius: .25rem;
    padding: 5px 10px;
    color:white;
    background-color: rgba(243, 182, 198, 0.5);
}

.carousel-button:hover{
    color: black;
    background-color: (243, 182, 198, 1);
}

#prevbutton {
    left: 1rem;
}

#nextbutton{
    right: 1rem;
}

/* grid styling */
.grid {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-template-rows: repeat(2, 1fr);
    gap: 5%;
    height: 500px;
    width: 90%;
    text-align: center;
    padding: 50px;
    grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
}

.quote{
    display: flex;
    width: 300px;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    border-radius: 10%;
    background-color: white;
}

.profile{
 display: flex;
 justify-content: space-between;
 align-items: center;
}

.quote img{
    height: 70px;
    width:70px;
    border-radius: 50%;
}

.quote p, .quote h4{
    padding: 0px 20px 0px;
}

#lisa h4, #natalia h4{
    color:rgba(243, 182, 198, 1) ;
}

#lisa, #natalia {
    box-shadow: 0px 4px 6px 4px rgba(243, 182, 198, 0.7);
}

#kevin h4, #raphael h4{
    color: rgba(245, 211, 147, 1);
}

#kevin, #raphael{
    box-shadow: 0 4px 6px 4px rgba(245, 211, 147, 0.7);
}

#eliana h4, #ana h4{
    color: rgba(174, 222, 164, 1);
}

#eliana, #ana{
    box-shadow: 0 4px 6px 4px rgba(174, 222, 164, 0.7);
}

#james h4, #javier h4{
    color: rgba(219, 186, 252, 1);
}

#james, #javier{
    box-shadow: 0 4px 6px 4px rgba(219, 186, 252, 0.7);
}


/*  Pink : #F3B6C6 rgba(243, 182, 198, 1)
    Blue : #85CCEA rgba(133, 204, 234, 1)
    Yellow : #F5D393 rgba(245, 211, 147, 1)
    Green : #AEDEA4 rgba(174, 222, 164, 1)
    Purple : #DBBAFC rgba(219, 186, 252, 1) */